* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {    
  background-color: #18191A;
}


.App {
  text-align: left;
}

.App-header {
  background: #6200ee;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: white;
}

.navbar {
  background-color: #242526;
}

.navbar-brand {
  color: white;
  font-size: calc(10px + 2vmin);
}

.navbar-brand:hover {
  color: #B8B3A6;
}

.nav-link {
  color: white;
  font-size: calc(5px + 2vmin);
}

.nav-link:hover {
  color: #B8B3A6;
}

.App-link {
  color: #61dafb;
  text-align: left;
}


